<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Caii-2023.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDB8A2D12AD21C88002A0980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDB8A2EA2AD21C89002A0980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDB8A2F42AD21C89002A0980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
